/* styles.css */
.content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.join {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.create-btn {
    width: 100%;
}

.messages {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
}

.inputs {
    padding: 10px;
    display: flex;
}

h1 {
    text-align: center;
}

#message {
    flex: 1;
}

.text {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-left: 10px;
    padding-right: 10px;
}

.muted {
    font-size: 10px;
    color: darkgray;
}

.card {
    border: 1px solid #000;
    padding: 3px;  /* Further reduce padding to make the card smaller */
    margin: 5px;
    display: inline-block;
    border-radius: 5px;
    background-color: white;
    width: 35px;  /* Further reduce width to make the card smaller */
    text-align: center;
}

.card:hover{
    width: 10%;
    top: 1%;
    left: 2%;
    right: 2%;
    bottom: 2%;
}

.drop-zone {
    width: 90%;  /* Increase width */
    height: 300px;  /* Significantly increase height to fit multiple cards */
    border: 2px dashed #ccc;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px auto;
}

.drop-zone.dragover {
    border-color: #000;
}

.drop-zone p {
    text-align: center;
    color: #ccc;
}

.card.dragging {
    opacity: 0.5;
}
