<!-- multiplayer.html -->
{% extends 'base.html' %}
{% block content %} 
<form method="post" class="buttons">
    <h1>Spiele zusammen mit deinen Freunden!</h1>
    <div>
        <label>Name:</label>
        <input 
        type="text" 
        placeholder="Usernamen" 
        name="name" 
        value="{{name}}"
        />
    </div>
    <div class="join">
        <input type="text" placeholder="Game-Code" name="code" value="{{code}}"/>
        <button type="submit" name="join">Join a Game</button>
    </div>
    {% if session['user_id'] %}
        <button type="submit" name="create" class="create-btn">Create a Game</button>
    {% else %}
        <button type="button" onclick="showAlertAndRedirect()" class="create-btn">Create a Game</button>
    {% endif %}
    {% if error %}
    <ul>
        <li>{{error}}</li>
    </ul>
    {% endif %}
</form>

<script>
    function showAlertAndRedirect() {
        alert('Bitte melden Sie sich an, um ein Spiel zu erstellen.');
        setTimeout(function() {
            window.location.href = "{{ url_for('welcome') }}";
        }, 500);
    }
</script>
{% endblock %}
