<!-- spielfeld.html -->
{% extends 'base.html' %}
{% block content %} 
<div class="wrapper">
  <div class="container">
    <h1>Game Room {{code}}</h1>
    <div class="copy-area">
      <textarea id="code-textarea">{{code}}</textarea>
      <button class="copy-button" id="copy-btn">
          Kopieren
      </button>
    </div>
    <h1>Trumpf {{trumpf}}</h1>

    <button id="start-game-btn">Spiel Starten</button>

    <div class="played-cards" id="played-cards">
      <!-- Hier werden die gespielten Karten angezeigt -->
    </div>

    <div class="deck" id="deck">
      {% for card in deck %}
        <button class="card-button" onclick="playCard('{{ card.rank }}', '{{ card.suit }}')">
          <img src="{{ url_for('static', filename='svg/' + card.rank + card.suit + '.svg') }}" alt="{{ card.rank }} of {{ card.suit }}">
        </button>
      {% endfor %}
    </div>  
    
    <div class="messages" id="messages"></div>
  </div>
</div>
<script src="{{url_for('static', filename='spielfeld.js')}}" type="text/javascript"></script>
{% endblock %}
